# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [531]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import operator
import time
from requests.adapters import HTTPAdapter, Retry

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [532]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [536]:
# your code here
response = requests.get(url)
soup = BeautifulSoup(response.content)

#### 1. Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools or clicking in 'Inspect' on any browser. Here is an example:

![title](example_1.png)

2. Use BeautifulSoup `find_all()` to extract all the html elements that contain the developer names. Hint: pass in the `attrs` parameter to specify the class.

3. Loop through the elements found and get the text for each of them.

4. While you are at it, use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names. Hint: you may also use `.get_text()` instead of `.text` and pass in the desired parameters to do some string manipulation (check the documentation).

5. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [540]:
names = soup.find_all('p',attrs={'class':'f4 text-normal mb-1'})
for name in names:
    print(name.text.strip(),)

charliermarsh
pahud
kdy1
MunifTanjim
ckerr
bramstroker
BolajiOlajide
benbjohnson
briansmith
HansKristian-Work
klauspost
OtacilioN
ornicar
casey
earlephilhower
Rick-Anderson
rusty1s
mattpap
mishmanners
NachoSoto
CastagnaIT
nateraw
twpayne
a8m
hrydgard

#### 1.1. Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [541]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [542]:
# your code here
response = requests.get(url)
soup = BeautifulSoup(response.content)

In [543]:
repos = soup.find_all('h1',attrs={'class':'h3 lh-condensed'})

In [544]:
for repo in repos:
    print(repo.a['href'])

/PaddlePaddle/PaddleHub
/JustAnotherArchivist/snscrape
/pittcsc/Summer2023-Internships
/Rapptz/discord.py
/swisskyrepo/PayloadsAllTheThings
/dortania/OpenCore-Legacy-Patcher
/Yetiowner/Increasing-code-complexity
/anasty17/mirror-leech-telegram-bot
/bkerler/mtkclient
/weebzone/WZML
/freqtrade/freqtrade
/THUDM/CodeGeeX
/yt-dlp/yt-dlp
/commaai/openpilot
/AndrewEllis93/Print-Tuning-Guide
/corpnewt/gibMacOS
/matplotlib/cheatsheets
/OpenEthan/SMSBoom
/donnemartin/system-design-primer
/spotDL/spotify-downloader
/elebumm/RedditVideoMakerBot
/davidbombal/red-python-scripts
/zulip/zulip
/unifyai/ivy
/sherlock-project/sherlock

#### 2. Display all the image links from Walt Disney wikipedia page.
Hint: use `.get()` to access information inside tags. Check out the documentation.

In [545]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [546]:
response = requests.get(url)
soup = BeautifulSoup(response.content)

In [547]:
# your code here
images = soup.find_all('img')

In [548]:
for image in images:
    print(image['src'])

//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png
//upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png
//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG
//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png
//upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg/220px-Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg
//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg
//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg
//upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg
//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg
//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg
//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg
//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg
//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg
//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG
//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg
//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg
//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg
//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg
//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png
//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png
//upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Disneyland_Resort_logo.svg/135px-Disneyland_Resort_logo.svg.png
//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/20px-Animation_disc.svg.png
//upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/19px-P_vip.svg.png
//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/15px-Magic_Kingdom_castle.jpg
//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/19px-Video-x-generic.svg.png
//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/21px-Flag_of_Los_Angeles_County%2C_California.svg.png
//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/21px-Blank_television_set.svg.png
//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/21px-Flag_of_the_United_States.svg.png
//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/14px-Commons-logo.svg.png
//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/16px-Wikiquote-logo.svg.png
//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/21px-Wikidata-logo.svg.png
//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png
//en.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1
/static/images/footer/wikimedia-button.png
/static/images/footer/poweredby_mediawiki_88x31.png

#### 2.1. List all language names and number of related articles in the order they appear in wikipedia.org.

In [549]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'
response = requests.get(url)
soup = BeautifulSoup(response.content)

In [550]:
languages = soup.find_all('a',attrs={'class':'link-box'})

In [551]:
languages_dict={}
for language in languages:
    lan=language.find('strong').text
    articles=language.find('bdi', {'dir': 'ltr'}).text.replace(u'\xa0', u' ').replace(' ', '').replace('+','')
    articles=float(articles)
    languages_dict[lan]=articles

In [552]:
sorted(languages_dict.items(), key=operator.itemgetter(1), reverse=True)

[('English', 6458000.0),
 ('Deutsch', 2667000.0),
 ('Français', 2400000.0),
 ('Русский', 1798000.0),
 ('Español', 1755000.0),
 ('Italiano', 1742000.0),
 ('日本語', 1314000.0),
 ('中文', 1256000.0),
 ('العربية', 1159000.0),
 ('Português', 1085000.0)]

#### 2.2. Display the top 10 languages by number of native speakers stored in a pandas dataframe.
Hint: After finding the correct table you want to analyse, you can use a nested **for** loop to find the elements row by row (check out the 'td' and 'tr' tags). <br>An easier way to do it is using pd.read_html(), check out documentation [here](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.read_html.html).

In [553]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
response = requests.get(url)
soup = BeautifulSoup(response.content)

In [554]:
nativeLanguages = soup.find_all('td')

In [555]:
languages_list=[]
languages_number=[]
for nativeLanguage in nativeLanguages:
    if nativeLanguage.find('a',attrs={'class':'mw-redirect'}) is not None:
        languages_list.append(nativeLanguage.find('a',attrs={'class':'mw-redirect'}).text)
    else:
        pass

for nativeLanguage in nativeLanguages:
    try:
        speakers_number = float(nativeLanguage.text.strip())
        languages_number.append(speakers_number)
    except:
        pass

In [556]:
top10_languages = languages_list[:10]
top10_numbers= languages_number[:10]

In [557]:
pd.DataFrame({'Languages':top10_languages,'native_speakers':top10_numbers})

          Languages  native_speakers
0  Mandarin Chinese            920.0
1           Spanish            475.0
2           English            373.0
3             Hindi            344.0
4           Bengali            234.0
5        Portuguese            232.0
6           Russian            154.0
7          Japanese            125.0
8       Yue Chinese             85.2
9        Vietnamese             84.6

#### 3. Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.
Hint: If you hover over the title of the movie, you should see the director's name. Can you find where it's stored in the html?

In [560]:
headers= {'Accept-Language':'en-US,en;q=0.9'}

In [561]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'
response = requests.get(url,headers=headers)
soup = BeautifulSoup(response.content)

In [562]:
#Creating soups
titles = soup.find_all('td', attrs={'class':'titleColumn'})
reviews = soup.find_all('td',attrs={'class':'ratingColumn imdbRating'})
releases = soup.find_all('span',attrs={'class':'secondaryInfo'})

In [563]:
#Storing data in lists
titles_list=[]
for title in titles:
    titles_list.append(title.find('a').text)

In [564]:
reviews_list=[]
for review in reviews:
    reviews_list.append(review.text.strip())

In [565]:
release_list=[]
for release in releases:
    release_list.append(release.text.replace('(','').replace(')',''))

In [566]:
directors_list=[]
for title in titles:
    titles2 = title.find('a')
    title_short_url = titles2['href']
    title_url = 'https://www.imdb.com'+title_short_url
    
    response = requests.get(title_url)
    soup = BeautifulSoup(response.content)
    director = soup.find_all('a',attrs={'class':'ipc-metadata-list-item__list-content-item ipc-metadata-list-item__list-content-item--link'})[0].text
    directors_list.append(director)

In [567]:
# Putting everything together in a dataframe
pd.DataFrame({'title':titles_list, 'main_director':directors_list,'year':release_list,'reviews':reviews_list})

                        title         main_director  year reviews
0    The Shawshank Redemption        Frank Darabont  1994     9.2
1               The Godfather  Francis Ford Coppola  1972     9.2
2             The Dark Knight     Christopher Nolan  2008     9.0
3       The Godfather Part II  Francis Ford Coppola  1974     9.0
4                12 Angry Men          Sidney Lumet  1957     9.0
..                        ...                   ...   ...     ...
245               Dersu Uzala        Akira Kurosawa  1975     8.0
246                  The Help           Tate Taylor  2011     8.0
247                    Gandhi  Richard Attenborough  1982     8.0
248                   Aladdin          Ron Clements  1992     8.0
249            The Iron Giant             Brad Bird  1999     8.0

[250 rows x 4 columns]

#### 3.1. Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [568]:
#This is the url you will scrape in this exercise
url = 'https://www.imdb.com/list/ls009796553/'
response = requests.get(url,headers=headers)
soup = BeautifulSoup(response.content)

In [569]:
# Creating soups
movies = soup.find_all('h3',attrs={'class':'lister-item-header'})
years = soup.find_all('span',attrs={'class':'lister-item-year text-muted unbold'})
descriptions = soup.find_all('p',attrs={'class':''})

In [570]:
#Storing data in lists
movies_list=[]
for movie in movies:
    movies_list.append(movie.find('a').text)

In [571]:
years_list=[]
for year in years:
    years_list.append(year.text.strip().replace('(','').replace(')',''))

In [572]:
descriptions_list=[]
for description in descriptions:
    descriptions_list.append(description.text.strip())

In [573]:
#Creating dataframe
movies_df = pd.DataFrame({'movie':movies_list,'years':years_list,'description':descriptions_list})

In [574]:
movies_df[:10]

,movie,years,description
0,A Nightmare on Elm Street,1984,Teenager Nancy Thompson must uncover the dark ...
1,Awakenings,1990,The victims of an encephalitis epidemic many y...
2,A League of Their Own,1992,Two sisters join the first female professional...
3,A Bronx Tale,1993,A father becomes worried when a local gangster...
4,Angels in the Outfield,1994,When a boy prays for a chance to have a family...
5,A Time to Kill,1996,"In Clanton, Mississippi, a fearless young lawy..."
6,Amistad,1997,"In 1839, the revolt of Mende captives aboard a..."
7,Anaconda,1997,"A ""National Geographic"" film crew is taken hos..."
8,"A Cool, Dry Place",1998,"Russell, single father balances his work as a ..."
9,American History X,1998,A former neo-nazi skinhead tries to prevent hi...

## Bonus

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code here

#### Find the book name, price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
# your code here

####  Display the 100 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.
***Hint:*** Here the displayed number of earthquakes per page is 20, but you can easily move to the next page by looping through the desired number of pages and adding it to the end of the url.

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/?view='

# This is how you will loop through each page:
number_of_pages = int(100/20)
each_page_urls = []

for n in range(1, number_of_pages+1):
    link = url+str(n)
    each_page_urls.append(link)
    
each_page_urls

In [ ]:
# your code here