# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [130]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [131]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [132]:
# your code here
response = requests.get(url)

In [133]:
response.status_code

200

In [134]:
soup = BeautifulSoup(response.content)

#### 1. Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools or clicking in 'Inspect' on any browser. Here is an example:

![title](example_1.png)

2. Use BeautifulSoup `find_all()` to extract all the html elements that contain the developer names. Hint: pass in the `attrs` parameter to specify the class.

3. Loop through the elements found and get the text for each of them.

4. While you are at it, use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names. Hint: you may also use `.get_text()` instead of `.text` and pass in the desired parameters to do some string manipulation (check the documentation).

5. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [135]:
import time

In [136]:
trending_rows = soup.find_all('article',attrs={'class':'Box-row d-flex'})

trending_list=[]

for trending_row in trending_rows:
  time.sleep(5)
  
  try:

    name=trending_row.find_all('a')[2].get_text().strip()
    nick=trending_row.find_all('a')[3].get_text().strip()

    info=name+' ('+nick+')'

    trending_list.append(info)
  
  except:
    pass

In [137]:
trending_list

['Charlie Marsh (charliermarsh)',
 'Pahud Hsieh (pahud)',
 'Donny/강동윤 (kdy1)',
 'Munif Tanjim (MunifTanjim)',
 'Charles Kerr (ckerr)',
 'Bram Gerritsen (bramstroker)',
 'Bolaji Olajide (BolajiOlajide)',
 'Ben Johnson (benbjohnson)',
 'Brian Smith (briansmith)',
 'Hans-Kristian Arntzen (HansKristian-Work)',
 'Klaus Post (klauspost)',
 'Otacilio Saraiva Maia Neto (OtacilioN)',
 'Thibault Duplessis (ornicar)',
 'Casey Rodarmor (casey)',
 'Earle F. Philhower, III (earlephilhower)',
 'Rick Anderson (Rick-Anderson)',
 'Matthias Fey (rusty1s)',
 'Mateusz Paprocki (mattpap)',
 'MishManners®™ (mishmanners)',
 'NachoSoto (NachoSoto)',
 'Stefano Gottardo (CastagnaIT)',
 'Nathan Raw (nateraw)',
 'Tom Payne (twpayne)',
 'Ariel Mashraki (a8m)',
 'Henrik Rydgård (hrydgard)']

#### 1.1. Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [138]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [139]:
# your code here
response = requests.get(url)

In [140]:
response.status_code

200

In [141]:
soup = BeautifulSoup(response.content)

In [ ]:
repositories = soup.find_all('article',attrs={'class':'Box-row'})

repository_list=[]

for repository in repositories:
  time.sleep(5)
  
  try:
    print('Working on...')

    name=repository.find_all('a')[1].get_text().strip().replace('\n', '').replace(" ", "")

    if name =='Star':
      name1=repository.find_all('a')[2].get_text().strip().replace('\n', '').replace(" ", "")

      repository_list.append(name1)
    else:
      repository_list.append(name)
  
  except:
    pass

Working on...
Working on...
Working on...
Working on...
Working on...
Working on...
Working on...
Working on...
Working on...
Working on...
Working on...
Working on...
Working on...
Working on...
Working on...
Working on...
Working on...
Working on...
Working on...
Working on...
Working on...
Working on...
Working on...
Working on...
Working on...

In [ ]:
repository_list

['JustAnotherArchivist/snscrape',
 'bregman-arie/devops-exercises',
 'darkoperator/dnsrecon',
 '521xueweihan/HelloGitHub',
 'getsentry/sentry',
 'acl-org/aclpubcheck',
 'chubin/cheat.sh',
 'PaddlePaddle/PaddleNLP',
 'hiroi-sora/Umi-OCR',
 'bumble-tech/private-detector',
 'nerfstudio-project/nerfstudio',
 'sherlock-project/sherlock',
 'WeixiangYAN/WhyGen',
 'TheLastBen/fast-stable-diffusion',
 'poloclub/diffusiondb',
 'kelvinBen/AppInfoScanner',
 'SigmaHQ/sigma',
 'AUTOMATIC1111/stable-diffusion-webui',
 'open-mmlab/mmaction2',
 'apache/airflow',
 'facebookincubator/AITemplate',
 'borisdayma/dalle-mini',
 'sczhou/CodeFormer',
 'hhyo/Archery',
 'shengqiangzhang/examples-of-web-crawlers']

#### 2. Display all the image links from Walt Disney wikipedia page.
Hint: use `.get()` to access information inside tags. Check out the documentation.

In [142]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [143]:
# your code here
response = requests.get(url)

In [144]:
response.status_code

200

In [145]:
soup = BeautifulSoup(response.content)

In [ ]:
divs = soup.find_all('div', attrs = {'class':'thumbinner'})
link_images=[]
for div in divs:
    links = div.find_all('a')
    for a in links:
        link=('https://en.wikipedia.org'+a.get('href'))
        link_images.append(link)

link_images = list(dict.fromkeys(link_images))
link_images

['https://en.wikipedia.org/wiki/File:Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_envelope_ca._1921.jpg',
 'https://en.wikipedia.org/wiki/File:Newman_Laugh-O-Gram_(1921).webm',
 'https://en.wikipedia.org/wiki/File:Trolley_Troubles_poster.jpg',
 'https://en.wikipedia.org/wiki/Trolley_Troubles',
 'https://en.wikipedia.org/wiki/File:Steamboat-willie.jpg',
 'https://en.wikipedia.org/wiki/Mickey_Mouse',
 'https://en.wikipedia.org/wiki/Steamboat_Willie',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_1935.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 'https://en.wikipedia.org/wiki/Snow_White_and_the_Seven_Dwarfs_(1937_film)',
 'https://en.wikipedia.org/wiki/File:Disney_drawing_goofy.jpg',
 'https://en.wikipedia.org/wiki/File:WaltDisneyplansDisneylandDec1954.jpg',
 'https://en.wikipedia.org/wiki/Disneyland',
 'https://en.wikipedia.org/wiki/Orange_County,_California',
 'https://en.wikipedia.org/wiki/File:Walt_disney_portrait_right.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_Grave.JPG',
 'https://en.wikipedia.org/wiki/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://en.wikipedia.org/wiki/Roy_O._Disney',
 'https://en.wikipedia.org/wiki/File:DisneySchiphol1951.jpg',
 'https://en.wikipedia.org/wiki/File:Disney1968.jpg',
 'https://en.wikipedia.org/wiki/File:Disney_Oscar_1953_(cropped).jpg',
 'https://en.wikipedia.org/wiki/Academy_Award_for_Best_Live_Action_Short_Film',
 'https://en.wikipedia.org/wiki/Water_Birds']

#### 2.1. List all language names and number of related articles in the order they appear in wikipedia.org.

In [146]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [147]:
# your code here
response = requests.get(url)

In [148]:
response.status_code

200

In [149]:
soup = BeautifulSoup(response.content)

In [ ]:
import re
boxes = soup.find_all('a', attrs = {'class':'link-box'})
list_lang=[]

for box in boxes:
  time.sleep(5)
  language=box.find_all('strong')
  lang=str(language).replace('[<strong>','').replace('</strong>]','').replace('<bdi dir="rtl">','').replace('</bdi>','')

  article=str(box.find_all('small'))
  cifre = re.findall("\d+", article)
  one_cifre='.'.join(cifre)

  list_lang.append(lang+' '+one_cifre)

list_lang

['English 6.458.000',
 '日本語 1.314.000',
 'Español 1.755.000',
 'Русский 1.798.000',
 'Français 2.400.000',
 'Deutsch 2.667.000',
 'Italiano 1.742.000',
 '中文 1.256.000',
 'Português 1.085.000',
 'العربية 1.159.000']

#### 2.2. Display the top 10 languages by number of native speakers stored in a pandas dataframe.
Hint: After finding the correct table you want to analyse, you can use a nested **for** loop to find the elements row by row (check out the 'td' and 'tr' tags). <br>An easier way to do it is using pd.read_html(), check out documentation [here](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.read_html.html).

In [150]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [151]:
# your code here
response = requests.get(url)

In [152]:
response.status_code

200

In [153]:
soup = BeautifulSoup(response.content)

In [ ]:
languages_list=[]
count=7

for i in range(10):
  time.sleep(5)
  
  try:
    
    language=soup.find_all('a',attrs={'class':'mw-redirect'})[count].text
    count+=1
    print(language)
    languages_list.append(language)
  
  except:
    pass

Mandarin Chinese
Spanish
English
Hindi
Bengali
Portuguese
Russian
Japanese
Yue Chinese
Vietnamese

In [ ]:
languages_list

['Mandarin Chinese',
 'Spanish',
 'English',
 'Hindi',
 'Bengali',
 'Portuguese',
 'Russian',
 'Japanese',
 'Yue Chinese',
 'Vietnamese']

#### 3. Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.
Hint: If you hover over the title of the movie, you should see the director's name. Can you find where it's stored in the html?

In [154]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [155]:
# your code here
response = requests.get(url)

In [156]:
response.status_code

200

In [157]:
soup = BeautifulSoup(response.content)

In [158]:
movie_list=soup.find_all('div',attrs={'class':'lister'})[0]

In [128]:
import re

movie_info=[]
count=0

for i in range(250):
  time.sleep(5)
  
  try:
    movie = movie_list.find_all('td',attrs={'class':'titleColumn'})[count].text.replace('\n', '').replace('.', '')
    movie = ''.join([i for i in movie if not i.isdigit()])
    movie = movie.replace('()', '').replace('            ', '')
     
    row=movie_list.find_all('td',attrs={'class':'titleColumn'})[count]
    link=row.find_all('a')[0]
    director=link.get('title')
    
    date=movie_list.find_all('td',attrs={'class':'titleColumn'})[count].text
    date = re.findall("\d+", date)
    date = date[1]
    
    star=movie_list.find_all('strong')[count].text
    
    count += 1
    
    print(count)

    data = {'Movie':movie,'Director':director,'Date':date,'Star':star}

    movie_info.append(data)
  
  except:
    pass

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250

In [129]:
movie_info_df=pd.DataFrame(movie_info)
movie_info_df

,Movie,Director,Date,Star
0,The Shawshank Redemption,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",1994,9.2
1,The Godfather,"Francis Ford Coppola (dir.), Marlon Brando, Al...",1972,9.2
2,The Dark Knight,"Christopher Nolan (dir.), Christian Bale, Heat...",2008,9.0
3,The Godfather Part II,"Francis Ford Coppola (dir.), Al Pacino, Robert...",1974,9.0
4,Angry Men,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",12,9.0
...,...,...,...,...
245,Dersu Uzala,"Akira Kurosawa (dir.), Maksim Munzuk, Yuriy So...",1975,8.0
246,The Help,"Tate Taylor (dir.), Viola Davis, Emma Stone",2011,8.0
247,Gandhi,"Richard Attenborough (dir.), Ben Kingsley, Joh...",1982,8.0
248,Aladdin,"Ron Clements (dir.), Scott Weinger, Robin Will...",1992,8.0
249,The Iron Giant,"Brad Bird (dir.), Eli Marienthal, Harry Connic...",1999,8.0

#### 3.1. Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [159]:
#This is the url you will scrape in this exercise
url = 'https://www.imdb.com/list/ls009796553/'

In [160]:
# your code here
response = requests.get(url)

In [161]:
response.status_code

200

In [162]:
soup = BeautifulSoup(response.content)

In [163]:
movie_list=soup.find_all('div',attrs={'class':'lister list detail sub-list'})[0]

In [119]:
import re

movie_random_info=[]
count=0
count_summary=1

for i in range(10):
  time.sleep(5)
  
  try:
    movie = movie_list.find_all('h3',attrs={'class':'lister-item-header'})[count].text.replace('\n', '').replace('.', '')
    movie = ''.join([i for i in movie if not i.isdigit()])
    movie = movie.replace('()', '').replace('            ', '')
    
    date=movie_list.find_all('h3',attrs={'class':'lister-item-header'})[count].text
    date = re.findall("\d+", date)
    date = date[1]

    summary = movie_list.find_all('p')[count_summary].text.replace('\n', '')

    count += 1
    count_summary += 4
    
    print(count)

    data = {'Movie':movie,'Date':date,'Summary':summary}

    movie_random_info.append(data)
  
  except:
    pass

1
2
3
4
5
6
7
8
9
10

In [120]:
movie_info_random_df=pd.DataFrame(movie_random_info)
movie_info_random_df

,Movie,Date,Summary
0,A Nightmare on Elm Street,1984,Teenager Nancy Thompson must uncover the dark ...
1,Awakenings,1990,The victims of an encephalitis epidemic many y...
2,A League of Their Own,1992,Two sisters join the first female professional...
3,A Bronx Tale,1993,A father becomes worried when a local gangster...
4,Angels in the Outfield,1994,When a boy prays for a chance to have a family...
5,A Time to Kill,1996,"In Clanton, Mississippi, a fearless young lawy..."
6,Amistad,1997,"In 1839, the revolt of Mende captives aboard a..."
7,Anaconda,1997,"A ""National Geographic"" film crew is taken hos..."
8,"A Cool, Dry Place",1998,"Russell, single father balances his work as a ..."
9,American History X,1998,A former neo-nazi skinhead tries to prevent hi...

## Bonus

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code here

#### Find the book name, price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
# your code here

####  Display the 100 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.
***Hint:*** Here the displayed number of earthquakes per page is 20, but you can easily move to the next page by looping through the desired number of pages and adding it to the end of the url.

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/?view='

# This is how you will loop through each page:
number_of_pages = int(100/20)
each_page_urls = []

for n in range(1, number_of_pages+1):
    link = url+str(n)
    each_page_urls.append(link)
    
each_page_urls

In [ ]:
# your code here